.search__textbox {
	width: 100%;
	margin: 5px auto 20px;
	padding: 5px 10px;
	border: solid 1px black;
	border-radius: 10px;
}
.search__text {
	text-align: center;
	margin: 20px auto 0;
	font-size: 20px;
	padding: 0 5px;
}
.article__link {
	color: #198754;
	cursor: pointer;
	margin-left: 15px;
}

.article__link:hover {
	color: red;
}
.article__icon:hover {
	transition: all 0.1s ease-in-out;
	transform: scale(1.1);
	cursor: pointer;
}
